/*Body*/

#Head {
    margin-top: 20%;
    margin-left: 10%;
    padding-top: 70px;
}


.Text {
    position: relative;
    z-index: 10;

}

.Text h1 {

    color: #89986D;
    font-family: 'Berlin Sans FB Demi', sans-serif;
    text-shadow: 21px 1px 50px rgba(0, 0, 0, 1);
    font-size: 50px;
}

.Text p {
    z-index: 2;
    color: #F6F0D7;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: large;
    font-style: normal;
}

.Image {
    margin-top: 10%;
    margin-left: 30%;
}

body {
    background-color: #89986D;
    background-image: url(./Pics/BG\ Img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*   color: #89986D;
    color: #9CAB84;
    color: #C5D89D;
    color: #F6F0D7;
    */