* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*  Colors:
- e58817 (Brownish Yellow)
- dcc4a7 (Off-White)
- 043140 (Navy Blue) */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


nav {
    display: flex;
    background-color: #043140;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav a {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-style: normal;
}

#Logo {
    padding: 25px;
    font-weight: bold;
    color: white;
    font-family: 'Berlin Sans FB Demi', sans-serif;
}

#menu-toggle,.hamburger,.close {
    display: none;
}


#RightNav {
    display: flex;
    width: 100%;
    margin-right: 5%;
    padding: 10px;
    justify-content: right;
    gap: 20px;
}

.NavI {
    display: block;
    padding: 15px;
    z-index: 2;
    color: #e58817;
    
}

.NavI:hover {
    color: white !important;

}

.NavI:visited {
    color: #e58817;
}

#Op1 {
    color: white;
}

#Search {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}

#Search input {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-bottom: 2px solid #e58817;
    padding: 10px 15px;
    color: white;
    font-size: 16px;
    outline: none;

    transition: all 0.3s ease;
}


#Search input:focus {
    background: rgba(255, 255, 255, 0.2);
    border-bottom-color: white;
    box-shadow: 0 4px 6px -6px #e58817;
}

#Search input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    text-align: left;

}

#Search button {
    background: #043140;
    color: rgb(100, 100, 100);
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, background 0.2s ease;
}

#Search button:hover {
    background: white;
}

#Op6 {
    background-color: #e58817;
    color: rgb(100, 100, 100);
    border-radius: 40px;
    font-weight: bolder;
}

#Op6:hover {
    background-color: darkorange;
    color: rgb(100, 100, 100);
}
/*Body*/

#Head {
    margin-top: 20%;
    margin-left: 10%;
    padding-top: 70px;
}


.Text {
    position: relative;
    z-index: 10;

}

.Text h1 {

    color: #e58817;
    font-family: 'Berlin Sans FB Demi', sans-serif;
    text-shadow: 21px 1px 50px rgba(0, 0, 0, 1);
    font-size: 50px;
}

.Text p {
    z-index: 2;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: large;
    font-style: normal;
}

.Image {
    margin-top: 10%;
    margin-left: 30%;
}

body {
    background-color: #043140;
    background-image: url(./Pics/BG\ Img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Responiveness */

@media (max-width:995px) {

    nav {
        background-color: wheat;
    }

    #Typehere {
        display: none;
    }
}


@media (max-width: 750px) {
    nav {
        justify-content: space-between; 
        align-items: center;
        padding: 0 20px;
        background-color: green;
    }

    .hamburger {
        display: block;
        color: #e58817;
        font-size: 30px;
        cursor: pointer;
        padding: 15px;
    }
    .hamburger:hover {
        
        color: wheat;
    
    }
    .close {
        
        color: #e58817;
        font-size: 50px;
        cursor: pointer;
        padding: 15px;
    }
    .close:hover{
        
        color: wheat;
    }


    #RightNav {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 100%; 
        left: 0;
        width: 100%;
        background-color: #043140; 
        padding: 20px 0;
        margin-right: 0;
        border-bottom: 2px solid #e58817;
    }

    #menu-toggle:checked ~ #RightNav {
        display: flex;
    }
    #menu-toggle:checked ~ .hamburger {
        display: none;
    }
    #menu-toggle:checked ~ .close {
        display: flex;
    }

    .NavI {
        width: 100%;
        text-align: center;
        padding: 15px;
    }
    .NavI:hover {
        border: solid 1px white;
    }

    #Search {
        justify-content: center;
        margin: 10px 0;
    }

    #Typehere {
        display: block !important; 
        width: 80%;
    }

    #Op6 {
        width: fit-content;
        margin: 10px auto;
        padding: 10px 30px;
    }
}