* {
    scrollbar-width: none;
}

.bod {
    display: block;
    margin-top: 4%;

}

.title {
    background-image: url(./Pics/Library.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    color: #F6F0D7;
    padding: 5%;

}

/*
color: #89986D;
color: #9CAB84;
color: #C5D89D;
*/

.bod h1 {
    justify-self: center;
    font-size: 50px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.65);

}

.bod .Title-ornament {

    margin-left: 40%;
    width: 20%;

}